# fastapi related
WREN_AI_SERVICE_HOST=127.0.0.1
WREN_AI_SERVICE_PORT=5555

# app related
QDRANT_HOST=localhost
OPENAI_API_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
ENABLE_TRACE=
WREN_ENGINE_ENDPOINT=http://localhost:8080

# evaluation related
DATASET_NAME=book_2