# fastapi related
WREN_AI_SERVICE_HOST=127.0.0.1
WREN_AI_SERVICE_PORT=5556

# app related
# LLM Provider name should be mapped to Haystack's supported LLM providers: https://docs.haystack.deepset.ai/v2.0/docs/generators
LLM_PROVIDER=openai
# Document Store Provider name should be mapped to Haystack's supported Document Store providers: see the haystack documentation's left sidebar
DOCUMENT_STORE_PROVIDER=qdrant

# llm provider specific env variables names must be in the format of [LLM_PROVIDER]_[ENV_VARIABLE_NAME] and must be in uppercase
OPENAI_API_KEY=
OPENAI_GENERATION_MODEL=gpt-3.5-turbo # gpt-4o, gpt-4-turbo, gpt-3.5-turbo

# document store provider specific env variables names must be in the format of [DOCUMENT_STORE_PROVIDER]_[ENV_VARIABLE_NAME] and must be in uppercase
QDRANT_HOST=localhost

WREN_ENGINE_ENDPOINT=http://localhost:8080

# evaluation related
DATASET_NAME=book_2

ENABLE_TIMER=
LOGGING_LEVEL=INFO
WORKERS=1