[tool.poetry]
name = "wren-ai-service"
version = "0.1.0"
description = ""
authors = ["Jimmy Yeh <jimmy.yeh@cannerdata.com>", "Pao Sheng Wang <david.wang@cannerdata.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
fastapi = "^0.109.2"
uvicorn = "^0.27.1"
python-dotenv = "^1.0.1"
setuptools = "^69.1.0"
haystack-ai = "^2.0.0"
openai = "^1.12.0"
langfuse = "^2.19.1"
ragas = "^0.1.1"
qdrant-haystack = "^3.0.0"
backoff = "^2.2.1"
ragas-haystack = "^0.1.1"
tqdm = "^4.66.2"
numpy = "^1.26.4"
psycopg2-binary = "^2.9.9"
anthropic = "^0.20.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0.0"
pre-commit = "^3.6.1"
pytest-cov = "^4.1.0"
gdown = "^5.1.0"
sqlglot = "^22.1.0"
httpx = "^0.27.0"
streamlit = "^1.32.1"
watchdog = "^4.0.0"
sqlparse = "^0.4.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
