.adm-btn-no-style {
  cursor: pointer;
  background: transparent;
  line-height: 1.2;
  height: auto;
  border: none;
}

.adm-onboarding-btn {
  width: 130px;
}

.adm-modeling-header-btn {
  width: 60px;
}