.adm-btn {
  &-text-geekblue {
    .button-variant-other(@geekblue-4, transparent, transparent);
    box-shadow: none;

    &:hover,
    &:focus {
      color: @geekblue-5;
      background: transparent;
      border-color: transparent;
    }

    &:active {
      color: @geekblue-7;
      background: transparent;
      border-color: transparent;
    }

    .button-disabled(@disabled-color; transparent; transparent);
  }
}

.adm-btn-no-style {
  cursor: pointer;
  background: transparent;
  line-height: 1.2;
  height: auto;
  border: none;
}

.adm-onboarding-btn {
  width: 130px;
}

.adm-modeling-header-btn {
  width: 60px;
}

.adm-fix-it-btn {
  border-color: @citrus-6;
  color: @citrus-6;
  background-color: @citrus-1;
  &:hover,&:focus {
    background-color: @citrus-1;
    border-color: @citrus-4;
    color: @citrus-5;
  }
}
