type: llm
provider: openai_llm
models:
  - model: gpt-4o-mini
    kwargs:
      {
        "temperature": 0,
        "n": 1,
        "max_tokens": 4096,
        "response_format": { "type": "json_object" },
      }
  - model: gpt-4o
    kwargs:
      {
        "temperature": 0,
        "n": 1,
        "max_tokens": 4096,
        "response_format": { "type": "json_object" },
      }
api_base: https://api.openai.com/v1
timeout: 120

---
type: embedder
provider: openai_embedder
models:
  - model: text-embedding-3-large
    dimension: 3072
api_base: https://api.openai.com/v1
timeout: 120

---
type: engine
provider: wren_ui
endpoint: http://wren-ui:3000

---
type: document_store
provider: qdrant
location: http://qdrant:6333
embedding_model_dim: 3072
timeout: 120
recreate_index: true

---
type: pipeline
pipes:
  - name: indexing
    embedder: openai_embedder.text-embedding-3-large
    document_store: qdrant
  - name: retrieval
    llm: openai_llm.gpt-4o-mini
    embedder: openai_embedder.text-embedding-3-large
    document_store: qdrant
  - name: historical_question
    embedder: openai_embedder.text-embedding-3-large
    document_store: qdrant
  - name: sql_generation
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: sql_correction
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: followup_sql_generation
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: sql_summary
    llm: openai_llm.gpt-4o-mini
  - name: sql_answer
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: sql_breakdown
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: sql_expansion
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: sql_explanation
    llm: openai_llm.gpt-4o-mini
  - name: sql_regeneration
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: semantics_description
    llm: openai_llm.gpt-4o-mini
  - name: relationship_recommendation
    llm: openai_llm.gpt-4o-mini
    engine: wren_ui
  - name: question_recommendation
    llm: openai_llm.gpt-4o-mini
  - name: intent_classification
    llm: openai_llm.gpt-4o-mini
    embedder: openai_embedder.text-embedding-3-large
    document_store: qdrant
  - name: data_assistance
    llm: openai_llm.gpt-4o-mini
  - name: preprocess_sql_data
    llm: openai_llm.gpt-4o-mini
  - name: sql_executor
    engine: wren_ui
---
settings:
  column_indexing_batch_size: 50
  table_retrieval_size: 10
  table_column_retrieval_size: 100
  allow_using_db_schemas_without_pruning: false
  query_cache_maxsize: 1000
  query_cache_ttl: 3600
  langfuse_host: https://cloud.langfuse.com
  langfuse_enable: true
  enable_timer: false
  logging_level: DEBUG
  development: false
