COMPOSE_PROJECT_NAME=CHANGE_ME
PLATFORM=CHANGE_ME
WREN_ENGINE_PORT=CHANGE_ME
WREN_ENGINE_SQL_PORT=CHANGE_ME
WREN_AI_SERVICE_PORT=CHANGE_ME
WREN_UI_PORT=CHANGE_ME
IBIS_SERVER_PORT=CHANGE_ME
WREN_PRODUCT_VERSION=CHANGE_ME
WREN_ENGINE_VERSION=CHANGE_ME
WREN_AI_SERVICE_VERSION=CHANGE_ME
IBIS_SERVER_VERSION=CHANGE_ME
WREN_UI_VERSION=CHANGE_ME
WREN_BOOTSTRAP_VERSION=CHANGE_ME
LAUNCH_CLI_PATH=CHANGE_ME
USER_UUID=CHANGE_ME
POSTHOG_API_KEY=CHANGE_ME
POSTHOG_HOST=CHANGE_ME
TELEMETRY_ENABLED=CHANGE_ME
