# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: AI Service CI

on:
  push:
    paths:
      - 'wren-ai-service/**'
  pull_request:
    types: [ labeled ]

permissions:
  contents: read

concurrency:
  # avoid mis-canceling the ci runs while other labels are added to the PR, so we add the label name as the condition
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.event.label.name == 'ci/ai-service' && github.event.number || github.sha }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: wren-ai-service

jobs:
  ci:
    if: ${{ github.event.label.name == 'ci/ai-service' || github.event_name == 'push' }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12.0" ]
        poetry-version: [ "1.8.3" ]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12.0
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install the project dependencies
        run: poetry install
      - name: Prepare testing environment and Run tests
        run: |
          make test
        env:
          ENV: dev
          LLM_PROVIDER: openai
          DOCUMENT_STORE_PROVIDER: qdrant
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_GENERATION_MODEL: gpt-3.5-turbo
          WREN_ENGINE_ENDPOINT: http://localhost:8080
          QDRANT_HOST: localhost
