version: '3.8'

services:
  wren-ai-service:
    image: wren-ai-service:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
    environment:
      WREN_AI_SERVICE_PORT: ${WREN_AI_SERVICE_PORT}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      QDRANT_HOST: ${QDRANT_HOST}
      WREN_ENGINE_ENDPOINT: ${WREN_ENGINE_ENDPOINT}
      # sometimes the console won't show print messages,
      # using PYTHONUNBUFFERED: 1 can fix this
      PYTHONUNBUFFERED: 1
    ports:
      - ${WREN_AI_SERVICE_PORT}:${WREN_AI_SERVICE_PORT}
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:v1.7.4
    ports:
      - 6333:6333
      - 6334:6334
